

#main-wrapper{
margin: auto;
 min-width: 60%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

div.btn-container{
  min-width: 60%;
  gap: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

table {
    border-spacing: 3em 0.5em;
    padding: 0 2em 1em 0;
  }
  
  td {
    width: max-content;
    height: 1.5em;
  }